@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/blocks.scss';

* {
  padding: initial;
}

.mainContainer {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  padding: .5rem 1rem;
  @include breakpoint(sm) {
    padding: .5rem 10%;
  }
}

.aboutContent {
  display: flex;
  
  flex: 1;
  line-height: 150%;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoint(sm) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

h2 {
  text-align: left;
  border-bottom: 8px solid $color_primary;
  font-size: 24px;
  padding: .5rem 0;
  margin: .5rem 0;
}

.sectionShort {
    margin: 5px;
  @include breakpoint(sm) {
    flex: 1 1 30%;
  }
}

.sectionLong {
    margin: 5px;
  @include breakpoint(sm) {
    flex: 1 1 60%;
  }
}


.programmingLang {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  margin: 5px;
}

.languages {
  display: flex;
  overflow-x:auto;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: row wrap;
}

.aboutContactItems {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contactItem {
  display: flex;
  margin: 0 2rem;
}

.iconContainer {  
  width: 4rem;
  height: 4rem;
  margin: .5rem;
  position: relative;
}

.iconBackground {
  position: absolute;    
  width: 4rem;
  height: 4rem;
}

.contactIcon {
  position: absolute;    
  padding: 1rem;      
  width: 2rem;
  height: 2rem;
}

.contactLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}
