@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/blocks.scss';

* {
  padding: initial;
}

.mainContainer {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  padding: .5rem 1rem;
  @include breakpoint(sm) {
    padding: .5rem 10%;
  }
}

.aboutContent {
  overflow-x:auto;
  display: flex;
  line-height: 150%;
  justify-content: space-between;
  text-align: left;
  position: relative;
  flex-direction: column;
  flex-wrap: nowrap;
  @include breakpoint(sm) {
    flex-direction: row;
    flex-flow: row wrap;
  }

  span:nth-child(odd)  {
    padding-right: .5rem;
    flex: 1;
    flex-basis: 100%;
    max-width: none;
    @include breakpoint(sm) {
      flex-basis: 40%;
      max-width: 30%;
    }
  }
  span:nth-child(even)  {
    padding-right: .5rem;
    flex: 1;
    @include breakpoint(sm) {
      flex-basis: 40%;
    }
  }
}

.table {
  display: none;

  @include breakpoint(sm) {
    display: flex;
    width: 100%;
    min-width: 100%;
  }
}

%aboutSectionHeader {
  text-align: left;
  border-bottom: 8px solid $color_primary;
  font-size: 24px;
}

.shortSectionHeader {
  @extend %aboutSectionHeader;
  width: 40rem;
}

.longtSectionHeader {
  @extend %aboutSectionHeader;
  width: 70%;
}

.shortSectionFooter {
  vertical-align: top;
  padding-right: 1rem;
}

.longSectionFooter {
  vertical-align: top;
  padding-left: 1rem;
}

.verticalSection {
  display: flex;
  flex-direction: column;
  @include breakpoint(sm) {
    display: none;
  }
} 

.verticalSectionHeader {
  @extend %aboutSectionHeader;
  margin: 1rem 0;
} 


.aboutProgramming {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap:wrap;
}

.aboutContactItems {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contactItem {
  display: flex;
  margin: 0 2rem;
}

.iconContainer {  
  width: 4rem;
  height: 4rem;
  margin: .5rem;
  position: relative;
}

.iconBackground {
  position: absolute;    
  width: 4rem;
  height: 4rem;
}

.contactIcon {
  position: absolute;    
  padding: 1rem;      
  width: 2rem;
  height: 2rem;
}

.contactLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}
