@import '../../assets/styles/fonts.scss';
@import '../../assets/styles/blocks.scss';
@import '../../assets/styles/animations.scss';

.mainContainer {
  display: flex;
  line-height: 150%;
  padding: .5rem 1rem;
  justify-content: space-between;
  flex-direction: column;
  @include breakpoint(sm) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: .5rem 10%;
  }
}

h2 {
  text-align: left;
  border-bottom: 8px solid $color_primary;
  font-size: 24px;
  padding: .5rem 0;
  margin: .5rem 0;
}

.short {
  margin: 5px;
  animation: .5s ease-out 0s 1 slideIn;
  @include breakpoint(sm) {
    flex: 1 1 30%;
  }
}

.long {
  margin: 5px;
  animation: .5s ease-out 0s 1 slideIn;
  @include breakpoint(sm) {
    flex: 1 1 60%;
  }
}

.full {
  margin: 5px;
  @include breakpoint(sm) {
    flex: 1 1 100%;
  }
}

.languages {
  display: flex;
  overflow-x:auto;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: row wrap;
}

.contactLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}

.contactItems {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1 1 100%;
}

$contactSize: 56px;

.contactItem {
  display: flex;
  max-width: $contactSize * 2;
  margin: 1rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contactPrintLabel {
  @extend .print-only;

  word-wrap: break-word;
  text-align: center;
}

.contactLink {
  margin: 2rem;
}
.contactIcon {    
  padding: .7rem; 
  width: $contactSize;    
  height: $contactSize;
}
