<div class="mainContainer">
  <div *ngIf="shortSection" class="aboutContent">

    <ng-template ngFor let-item [ngForOf]="fullSections" let-i="index" [ngForTrackBy]="trackByFn">
      <md-card *ngIf="i % 2 == 0" class="sectionShort">
        <h2>{{fullSections[i].title}}</h2>
        <div [innerHTML]='fullSections[i].content'></div>
      </md-card>
      <md-card *ngIf="i % 2 == 1" class="sectionLong">
        <h2>{{fullSections[i].title}}</h2>
        <div [innerHTML]='fullSections[i].content'></div>
      </md-card>
    </ng-template>

    <!--<table *ngFor="let section of shortSection; let i = index;" class="table">
        <tr>
          <th class="shortSectionHeader">{{shortSection[i].title}}</th>
          <th class="longtSectionHeader">{{longSections[i].title}}</th> 
        </tr>
        <tr>
          <td md-card-content class="shortSectionFooter" [innerHTML]='shortSection[i].content'></td>
          <td md-card-content class="longSectionFooter" [innerHTML]='longSections[i].content'></td>
        </tr>
    </table>
    <div class="verticalSection">
      <div *ngFor="let section of fullSections" >
        <h2 class="verticalSectionHeader">{{section.title}}</h2>
        <td [innerHTML]='section.content'></td>
      </div>
    </div>
    <section class="programmingLang">
      <h2 class="programmingLangHeader"> Programming Languages </h2> 
      <div *ngFor="let badge of badges">
        <app-badge
            [value]="badge.value"
            [label]="badge.label">
        </app-badge>
      </div>
    </section>  -->
  </div>
</div>
