<div class="mainContainer">
  <div *ngIf="fullSections" class="aboutContent">

    <ng-template ngFor let-item [ngForOf]="fullSections" let-i="index" [ngForTrackBy]="trackByFn">
      <md-card [ngClass]="i % 2 == 0 ? 'sectionShort' : 'sectionLong'">
        <h2>{{fullSections[i].title}}</h2>
        <div [innerHTML]='fullSections[i].content'></div>
      </md-card>
    </ng-template>

    <md-card class="programmingLang">
      <h2> Programming Languages </h2> 
      <div class="languages">
        <app-badge *ngFor="let badge of badges"
          [value]="badge.value"
          [label]="badge.label">
        </app-badge>
      </div>
    </md-card>
  </div>
</div>
