@import '../assets/styles/fonts.scss';
@import '../assets/styles/blocks.scss';
@import '../assets/styles/animations.scss';

$headerHeight: 20rem;
$avatar_size: 12rem;
$avatar_small_size: 8rem;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../assets/images/droidcon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: $headerHeight;
  color: black;
  padding: .5rem 1rem;
}

.aboutHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10%;
  animation: .5s ease-out 0s 1 slideIn;
  @include breakpoint(xs) {
    margin: 0;
  }
}

.aboutHeaderTitle {
  z-index: 0;
  margin-left: -($avatar_size / 2);
  width: 100%;
  background: $color_primary;
  text-align: center;
  @include breakpoint(xs) {
    margin-left: -($avatar_small_size / 2);
  }
}

.aboutHeaderTitleText {
  @extend %biggestFont;
  margin: 1rem 0;
  padding-left: 1rem + ($avatar_size / 2);
  padding-right: 1rem;
  @include breakpoint(xs) {
    font-size: 1.9rem;
    margin: .5rem 0;
    padding-left: 1rem + ($avatar_small_size / 2);
  }
}

.avatarContainer {
  height: $avatar_size;
  width: $avatar_size;
  z-index: 1;
  @include breakpoint(xs) {
    height: $avatar_small_size;
    width: $avatar_small_size;
  }
}
.avatar {
  height: $avatar_size;
  background: white;
  border-radius: $avatar_size;
  z-index: 2;
  @include breakpoint(xs) {
    height: $avatar_small_size;
    border-radius: $avatar_small_size;
  }
}
