<div>
  <div class='header'>
    <div class='aboutHeader'>
      <img *ngIf="avatar" [src]='avatar' class='avatar' />
      <div class='aboutHeaderTitle'>
        <h1 class='aboutHeaderTitleText'>{{title}}</h1>
      </div>
    </div>
  </div>
  <div *ngIf="shortSection">
    <div *ngFor="let section of shortSection; let i = index;">
      <table >
        <tr>
          <th style="width:40%">{{shortSection[i].title}}</th>
          <th style="width:60%">{{longSections[i].title}}</th> 
        </tr>
        <tr>
          <td><div [innerHTML]='shortSection[i].content'></div></td>
          <td><div [innerHTML]='longSections[i].content'></div></td> 
        </tr>
      </table>
    </div>
  </div>
</div>
